body {
    background-color: #f0efed;
}

.container {
    margin: 0 auto;
    width: 960px;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Miriam Libre', sans-serif;
    text-align: center;
}

/* TYPOGRAPHY */




/* YOUR STYLES */


